 <div class="home-banner">
  <div class="container">
    <div class="col-sm-6 col-sm-offset-3">
      <%= image_tag("/felix-arauner-1288525-unsplash.jpg", :alt => "rss feed") %>
<h1>Take a look to the Cocktails</h1>
<% @cocktail.each do |cocktail| %>
<li>
  <%= link_to cocktail.name %>
</li>
<% end %>
    </div>
  </div>
</div>
