<!-- <div class="col-sm-8 col-sm-offset-2">
  why if I delete this line the footer is on his place??!!?!?! -->
  <div class="index-container">

<h1>Here you got your cocktails</h1>
<ul>
    <% @cocktail.each do |cocktail| %>
    <li>
    <%= link_to cocktail.name %>
  </li>

   <% end %>
</ul>
</div>

