.home-banner {
  /* background img does not work*/
  /*background working*/
  background-image: asset-url('background-rails.jpg');
  background-size: cover !important;
  height: 200px; // change to 100vh si es necesario
  color: black;
  text-align: center;
  padding-top: 40vh;
}

