.home-banner {
  /* background img does not work*/
  background-image: url('/felix-arauner-1288525-unsplash.jpg');
 /* background: image-url('https://unsplash.com/photos/TR_BV5LLXtY');*/
  background-size: cover;
  height: 100vh;
  color: black;
  text-align: center;
  padding-top: 40vh;
}
