.home-banner {
  /* background img does not work*/
  background-image: asset-url('background-rails.jpg');
  background-size: cover;
  height: 100vh;
  color: black;
  text-align: center;
  padding-top: 40vh;
}
